PORT=5000
NODE_ENV=development
DATABASE_URL=postgresql://sct_admin:sct_secret_2024@localhost:5432/supply_chain
JWT_ACCESS_SECRET=access_secret_change_in_production_min_32_chars
JWT_REFRESH_SECRET=refresh_secret_change_in_production_min_32_chars
JWT_ACCESS_EXPIRES=15m
JWT_REFRESH_EXPIRES=7d
ML_SERVICE_URL=http://localhost:8000
CLIENT_URL=http://localhost:3000
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=your_email@gmail.com
EMAIL_PASSWORD=your_app_password
